html, #root, .App {
    height: 100%;
}

.ui.segment.content {
    height: 100%;
    background-color: #f1f1f1;
}

.ui.segment.content > .ui.container.segment{
    background: #ffffff;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

.ui.basic.segments,
.ui.horizontal.segments > .basic.segment {
    background: none;
    box-shadow: none;
    border: none !important;
    border-radius: 0;
}
.ui.grid.map{
    height:100%;
}

.sidebar{
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 5.7rem;
    right: 0;
    bottom: 0;
    width: 35%;
    padding-right: 2rem;
    padding-top: 1rem;
}

/* always show actions in minimal comments */
.ui.minimal.comments .comment .actions {
    opacity: 1;
}

.ui.labeled.dropdown.right > .menu > .item > .icon {
    padding-right: 2em;
}